.ii {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.run-move-up-down {
  animation: moveUpDown 2s linear infinite;
}


@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}





///////////////////////////
///
///
///
.animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}


// 1. fadeInLeft
.fadeInLeft {
  animation-name: fadeInLeft;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// 2. fadeInUp2
.fadeInUp2 {
  animation-name: fadeInUp2;
}

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

