$bg-header : #232f3e;
$bg-white : #ffffff;


$bg-primary : #ff3c20;
$bg-gray-100 : #dfd9d8;
$bg-primary-2 : #eb6a56;
$border-color : silver;


$s-sm : 14px;
$s-sm-2 : 15px;
$s-md : 16px;
$s-large : 18px;
$s-ex-large : 20px;



$hdr-left : 17%;
$hdr-right : 33%;

$text-gray: #666;
$text-black: #000000;
$text-white: rgb(255, 255, 255);


* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: $s-sm;
	color: $text-black;

}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}



$side-left-width : 250px;
$side-right-width : 250px;



.d-none {
	display: none;
}

.o-0 {
	opacity: 0;
}

.ml-6 {
	margin-left: 6px;
}

.mr-6 {
	margin-right: 6px;
}

.img-container {
	img {
		width: 100%;
		height: 100%;
	}
}

#back-drop {
	display: none;
}

.back-drop {
	.back-drop-background {
		position: fixed;
		opacity: 0.6;
		z-index: 2;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #232f3e;
	}

	.back-drop-image {
		z-index: 3;
		top: 0;
		position: fixed;
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;

		.img-container {
			width: 100px;

			img {
				pointer-events: none;
			}
		}
	}
}

.font-18 {
	font-size: 18px !important;
}


.main-side {
	.wrapper-side-main {
		.side-main {
			@include container-1;
		}
	}
}

.swiper-pagination-bullet {
	width: 34px;
	border-radius: 3px;
	height: 5px;
	background-color: $bg-primary;
}
