.index-main-part {


  .category-slide {
    display: flex;

    .cate-side {
      width: $hdr-left;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15);

      >ul {
        li {
          padding: 0 20px;

          a {

            color: $text-gray;
            display: flex;
            padding: 15px 0;
            width: 100%;
            font-size: 14px;
            transition: all .3s;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              bottom: 0;
              width: 100%;
              border-bottom: 1px solid;
            }

            &:hover {
              background-color: $bg-gray-100;
              box-shadow: 0 0 5px rgba(0, 0, 0, .15);

              i {
                transform: scale(1.4);
              }

              span {
                color: $bg-primary;
              }
            }

            i {
              width: 30px;
              margin-left: 10px;
              color: $text-gray;
              transition: .3s;
            }

            span {
              display: block;
              width: calc(100% - 30px);
              color: $text-gray;
              transition: .3s;
            }
          }
        }
      }
    }

    .run-slide {

      display: flex;
      width: calc(100% - $hdr-left);

      .slide-run-1 {
        border: 1px solid red; // test
        width: 70%;
        position: relative;
        margin-left: 10px;

        .sw-slide-run-1 {
          .swiper-wrapper {
            .swiper-slide {
              .img-container {
                width: 100%;
                height: 450px;
              }
            }
          }
        }
      }

      .slide-run-2 {
        border: 1px solid red; // test
        width: 30%;

        .sw-slide-run-2 {
          height: 450px;

          .swiper-pagination-bullet {
            width: 10px !important;
            height: 10px !important;
            border-radius: 50% !important;
            background-color: $bg-primary !important;
          }

          .swiper-slide {
            padding: 10px;

            .img-container {
              height: 100%;
            }

          }
        }
      }
    }
  }

  .ss-daily-deal {
    display: flex;
    margin-top: 20px;

    .daily-deal-intro {
      width: $hdr-left;
    }

    .daily-deal-container {
      width: calc(100% - $hdr-left);
      margin-left: 12px;

      .find-voucher {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15);


        .find-voucher-intro {
          padding: 10px;

          color: $text-white;
          font-weight: 600;
          font-size: $s-large;
        }

        .find-voucher-container {


          display: flex;
          flex-wrap: wrap;
          align-items: start;

          gap: 30px 10px;

          .find-voucher-item {
            flex-direction: column;
            @include flex-center;
            width: 80px;
            padding: 5px 0;

            &:hover {
              .find-voucher-text {
                color: $bg-primary;
              }
            }

            .img-container {
              width: 50px;
              height: 50px;
            }

            .find-voucher-text {
              margin-top: 5px;
              text-align: center;
              transition: all .2s;
            }

          }
        }
      }

      .cate-with-image {
        margin-top: 30px;
      }
    }
  }
}





.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.product-container {

  margin-top: 30px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .15);

  .product-title {
    display: flex;
    background-color: $bg-header;
    text-transform: uppercase;
    font-size: $s-md;
    padding: 10px;
    color: $text-white;
  }

  $pro-bg : #F7F7F7;
  .product-list {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr  1fr  1fr  1fr ;
    gap: 15px;
    flex-wrap: wrap;
    .product-item {
      border-radius: 5px;
      background-color: $pro-bg;
      transition: all 0.3s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }
      .product-item-content {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .img-container {
          width: 90%;
          padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        }

        .product-item-name {
          margin-top: 10px;
        }

        .star-rating {

        }

        .product-item-price {
          @include flex-center;
          .product-price {
            margin-right: 10px;
          }

          .product-price-discount {

          }
        }
      }
    }

  }

}


.star-rating {
  .star-rating-container {
    @include flex-center;

    .star-rating-content {

      display: flex;
      flex-direction: row-reverse;
      font-size: 0;
      cursor: pointer;

      .star-rating {
        font-size: 0;
        cursor: pointer;
      }

      .star {
        padding: 5px;
        &:before {
          content: '\2605';
          color: #ccc;
          transition: color 0.3s;
          font-size: 20px;
        }

      }

      .star-clicked {
        &:before {
          color: #ffcc00;
        }
      }


       .star:hover ~ .star::before,
       .star:hover::before {
        color: #ffcc00;
      }
    }
  }
}
